<script lang="ts">
  import { navigate } from "svelte-navigator";

  import servicesFor from "../services";
  import service from "../service";

  export let username: string;
  export let size: number;

  let isError = false;

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;

  $: services = servicesFor(session);

  $: avatarUrlStore = services.users.getAvatarUrlStore(username);

  $: avatarUrl = $avatarUrlStore;

  $: subListenerStore = services.subscriber.listener("user-info:" + username);
  $: subListener = $subListenerStore;

  $: isBig = size == 2;
  $: isTiny = size == 0;

  function onClick(_evt) {
    navigate("/user/" + username);
  }
</script>

<style>
  img {
    object-fit: cover;
    flex: 1;
    cursor: pointer;
    width: 3em;
    height: 3em;
  }

  .tiny {
    width: 32px;
    height: 32px;
  }

  .big {
    width: 128px;
    height: 128px;
  }
</style>

<img
  class:big={isBig}
  class:tiny={isTiny}
  class:error={isError}
  alt="Avatar of { username }"
  title="@{username}"
  src="{ avatarUrl }"
  on:click={onClick} />
