<script lang="ts">
  import HeaderBar from "./HeaderBar.svelte";
  import Avatar from "./Avatar.svelte";
  import Messages from "./Messages.svelte";
  import ChatInput from "./ChatInput.svelte";
  import StyledBody from "./StyledBody.svelte";
  import MiniProfile from "./MiniProfile.svelte";

  import service from "../service";
  import servicesFor from "../services";

  export let username: string;

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  $: userInfoStore = services.users.getUserInfoStore(username);
  $: userInfo = $userInfoStore;

  $: myEmojiStore = services.emoji.getMyEmojiStore();

  $: emojiList = $myEmojiStore;

  $: messageGroupsStore = services.messages.getDirectMessages(username).getMessageGroupsStore();

  $: myFriendsStore = services.users.getMyFriendsStore();
  $: myFriends = $myFriendsStore;

  $: conversationStore = services.conversations.getConversation(username).getStore();
  $: conversation = $conversationStore;

  let isMyFriend = false;

  $: {
    isMyFriend = false;
    for (const friend of myFriends) {
      if (friend.username === username) {
        isMyFriend = true;
      }
    }
  }

  const myPermissions = {
    canConfigure: false,
    canBan: false,
    canDelete: false,
  };

  async function onFriendButtonClick(_evt) {
    if (isMyFriend) {
      await services.users.removeFriend(username);
    }
    else {
      await services.users.addFriend(username);
    }
  }

  async function sendMessage(evt) {
    await services.messages.sendDirectMessage(username, evt.detail.text);
  }

  async function onMessageDelete(evt) {
    await services.messages.deleteDirectMessage(username, evt.detail.msgid);
  }

  async function onMessageEdit(evt) {
    await services.messages.editDirectMessage(username, evt.detail.msgid, evt.detail.newBody);
  }

  async function onProfileToggleClick(evt) {
    await services.conversations.setConversationProfileOpen(username, !conversation.profileOpen);
  }
</script>

<style>
  #private-chat-input {
    background-color: rgba(255, 255, 255, 0.05);
  }

  #private-chat-title {
    white-space: pre-line;
    flex: 1;
  }
</style>

<HeaderBar backgroundColor={userInfo.bannerColor} foregroundColor={userInfo.buttonColor}>
  <div slot="icon">
    <Avatar username={username} size={0} />
  </div>
  <div id="private-chat-title">
    <StyledBody nodes={userInfo.parsedDisplay} />
  </div>
  <div slot="buttons">
    <button on:click={onProfileToggleClick}>
      {#if conversation.profileOpen}
        <div class="fas fa-address-card"></div>
      {:else}
        <div class="far fa-address-card"></div>
      {/if}
    </button>
    <button on:click={onFriendButtonClick}>
      {#if isMyFriend}
        <div class="fas fa-users-slash"></div>
      {:else}
        <div class="fas fa-users"></div>
      {/if}
    </button>
  </div>
</HeaderBar>
{#if conversation.profileOpen}
  <MiniProfile username={username} />
{/if}
<Messages
  {messageGroupsStore}
  {myPermissions}
  on:messageedit={onMessageEdit}
  on:messagedelete={onMessageDelete} />
<div id="private-chat-input">
  <ChatInput
    backgroundColor={userInfo.bannerColor}
    foregroundColor={userInfo.buttonColor}
    on:submit={sendMessage}
    {emojiList}
    messageGroups={$messageGroupsStore} />
</div>
