<script lang="ts">
  import { navigate } from "svelte-navigator";

  import servicesFor from "../services";
  import service from "../service";

  import HeaderBar from "./HeaderBar.svelte";

  const ROOMNAME_RE = /^[a-z0-9_-]+$/;

  let error: string | undefined = undefined;

  let roomname: string = "";
  let membersOnly: boolean = false;

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  function onSubmit(evt) {
    evt.preventDefault();
    proceed();
  }

  async function proceed() {
    roomname = roomname.toLowerCase();
    if (roomname === "") {
      error = "Roomname cannot be empty.";
      return;
    }
    if (!ROOMNAME_RE.test(roomname)) {
      error = "Roomname can only contain a-z, 0-9, '_' and '-'.";
      return;
    }
    error = undefined;
    try {
      await services.rooms.createRoom(roomname, membersOnly);
    }
    catch (e) {
      console.error(e);
      error = "Room already exists.";
      return;
    }
    navigate("/room/" + roomname);
  }
</script>

<style>
  #create-room-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .form-error {
    color: #f55;
  }

  .form-row {
    font-size: 90%;
    font-weight: bold;
    margin: 3px;
  }

  .form-submit {
    margin: 5px;
  }
</style>

<HeaderBar>
  Create Room
  <div slot="buttons">
    <button on:click={onSubmit}>
      <div class="fas fa-plus"></div>
    </button>
  </div>
</HeaderBar>
<div id="create-room-container">
  {#if error}
    <div class="form-error">
      {error}
    </div>
  {/if}
  <div class="form-row">
    <label for="roomname-input">Roomname:</label>
    <input type="text" id="roomname-input" autocapitalize="off" autocomplete="off" bind:value={roomname} />
  </div>
  <div class="form-row">
    <label for="room-is-private-input">Members Only:</label>
    <input type="checkbox" id="room-is-private-input" bind:checked={membersOnly} />
  </div>
</div>
