<script lang="ts">
  import { navigate } from "svelte-navigator";

  import servicesFor from "../services";
  import service from "../service";

  import HeaderBar from "./HeaderBar.svelte";

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  export let roomname: string | null;

  $: subListenerStore = roomname && services.subscriber.listener("room:" + roomname);
  $: subListener = $subListenerStore;

  const SHORTCODE_RE = /^[a-zA-Z0-9_-]+$/;

  let shortcode = "";
  let preview = null;
  let file = null;
  let error = null;

  async function onSubmit() {
    if (!file) {
      error = "No file selected.";
      return;
    }
    let shortcodeTrimmed = shortcode;
    if (shortcodeTrimmed.startsWith(":") && shortcodeTrimmed.endsWith(":")) {
      shortcodeTrimmed = shortcodeTrimmed.substring(1, shortcodeTrimmed.length - 1);
    }
    if (!SHORTCODE_RE.test(shortcodeTrimmed)) {
      error = "Invalid shortcode, must only contain a-z, A-Z, 0-9, '-' and '_'.";
      return;
    }
    if (roomname) {
      error = null;
      await services.emoji.uploadToRoomStore(roomname, shortcodeTrimmed, file);
      navigate("/room/" + roomname + "/emoji");
    }
    else {
      error = null;
      await services.emoji.uploadToMyStore(shortcodeTrimmed, file);
      navigate("/emoji");
    }
  }

  function onFileChange(evt) {
    file = evt.target.files[0];
    preview = URL.createObjectURL(file);
  }
</script>

<style>
  #emoji-new {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
  }

  #emoji-new-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  #emoji-new-top {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px;
  }

  #emoji-new-filter {
    flex: 1;
    margin: 0 10px;
  }

  .field {
    font-weight: bold;
    font-size: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 6px;
  }

  .field-key {
    margin: 5px;
    margin-right: 10px;
  }

  .inner-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    width: 64px;
    height: 64px;
    border: 1px solid #eee;
    margin: 1px;
    padding: 1px;
  }

  .preview {
    object-fit: cover;
    width: 64px;
    height: 64px;
  }

  .upload {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
  }
</style>

<HeaderBar>
  {#if roomname}
    Create Emoji In #{roomname}
  {:else}
    Create Personal Emoji
  {/if}
  <div slot="buttons">
    <button on:click={onSubmit}>
      <div class="fas fa-plus"></div>
    </button>
  </div>
</HeaderBar>
<div id="emoji-new">
  <div id="emoji-new-main">
    {#if error}
      <div class="error">
        {error}
      </div>
    {/if}
    <div class="field">
      <div class="inner-container">
        {#if preview}
          <img class="preview" alt="preview" src={preview} />
        {:else}
          <div class="preview">No image set</div>
        {/if}
        <input class="upload" type="file" accept=".png" on:change={onFileChange} />
      </div>
    </div>
    <div class="field">
      <span class="field-key">Shortcode:</span> <input type="text" bind:value={shortcode} />
    </div>
  </div>
</div>
