<script lang="ts">
  import { navigate } from "svelte-navigator";

  import servicesFor from "../services";
  import service from "../service";

  import HeaderBar from "./HeaderBar.svelte";
  import Emoji from "./Emoji.svelte";

  export let roomname: string | null;

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  $: subListenerStore = roomname && services.subscriber.listener("room:" + roomname);
  $: subListener = $subListenerStore;

  $: emojiStore = roomname ? services.emoji.getRoomEmojiStore(roomname) : services.emoji.getMyEmojiStore();

  $: emojiList = $emojiStore;

  $: filteredEmojiList = emojiList.filter((e) => e.shortcode.indexOf(filterText) !== -1);

  let filterText = "";

  let currentEmojiShortcode: string = "";
  let currentEmojiResource: string | null = null;

  $: prefix = roomname ? "/room/" + roomname : "";

  function onClickBack(_evt) {
    navigate(prefix);
  }

  function onClickNew(_evt) {
    navigate(prefix + "/emoji/new");
  }

  async function onDeleteButtonClick(evt, shortcode) {
    if (roomname) {
      await services.emoji.deleteFromRoomStore(roomname, shortcode);
    }
    else {
      await services.emoji.deleteFromMyStore(shortcode);
    }
  }
</script>

<style>
  #emoji-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
  }

  #emoji-list-new {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .list-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0);
  }

  .list-row:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.01);
  }

  .list-col-shortcode {
    flex: 1;
    padding: 4px;
  }

  .list-col-emoji {
    padding: 4px;
  }

  #emoji-list-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #emoji-list-buttons > button {
    padding: 4px;
    margin: 2px;
  }

  #emoji-list-top {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px;
  }

  #emoji-list-filter {
    flex: 1;
    margin: 2px 10px;
  }
</style>

<HeaderBar>
  <input id="emoji-list-filter" type="text" bind:value={filterText} />
  <div slot="buttons">
    <button on:click={onClickNew}>
      <div class="far fa-plus-square"></div>
    </button>
  </div>
</HeaderBar>
<div id="emoji-list-list">
  {#each filteredEmojiList.slice(0, 20) as emoji (emoji.shortcode)}
    <div class="list-row">
      <button on:click={(evt) => onDeleteButtonClick(evt, emoji.shortcode)}><div class="fas fa-times"></div></button>
      <div class="list-col-shortcode">{emoji.shortcode}</div>
      <div class="list-col-emoji"><Emoji shortcode={emoji.shortcode} slug={emoji.slug} big={false} /></div>
    </div>
  {/each}
</div>
