<script lang="ts">
  import { createEventDispatcher } from "svelte";

  import servicesFor from "../services";
  import service from "../service";

  import { computeMessageStyles, computeBackgroundStyles, computeHeaderStyles } from "../userstyle";

  import Avatar from "./Avatar.svelte";
  import StyledBody from "./StyledBody.svelte";
  import Message from "./Message.svelte";

  import type { Node } from "./util/body";

  const dispatch = createEventDispatcher();

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  export let presetUserInfo: any; // TODO: name type

  export let group: {
    author: string,
    messages: [ { type: "emote" | "text", msgid: string, author: string, body: string, sent: Date, bodyParsed: Node } ]
  };

  export let myPermissions: any; // TODO: name type

  $: userInfoStore = services.users.getUserInfoStore(group.author);
  
  $: userInfo = presetUserInfo || $userInfoStore;

  $: messageBackgroundUrlStore = services.users.getMessageBackgroundUrlStore(group.author);

  $: messageBackgroundStyle = computeBackgroundStyles($messageBackgroundUrlStore, userInfo.messageBackground);

  $: messageStyle = computeMessageStyles(userInfo);

  $: headerStyle = computeHeaderStyles(userInfo);

  function onLoad(evt) {
    dispatch("load");
  }

  function onMessageEdit(evt) {
    dispatch("messageedit", {
      msgid: evt.detail.msgid,
      newBody: evt.detail.newBody,
    });
  }

  function onMessageDelete(evt) {
    dispatch("messagedelete", {
      msgid: evt.detail.msgid,
    });
  }

  function onActionTrigger(evt) {
    dispatch("actiontrigger", {
      action: evt.detail.action,
    });
  }
</script>

<style>
  .mg-container {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 2px;
    background-size: 100% auto;
    background-repeat: repeat-y;
  }

  .mg-left {
    position: relative;
    z-index: 1;
    padding: 10px 5px 0 10px;
  }

  .mg-right {
    position: relative;
    z-index: 1;
    flex: 1;
  }

  .mg-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    padding-left: 0.5em;
  }

  .mg-user-avatar {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    border-radius: 0.4em;
    overflow: hidden;
  }

  .mg-user-name {
    font-weight: bold;
    margin: 1px;
  }

  .mg-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
  }
</style>

{#if group.messages.some(m => m.bodyParsed !== null)}
  <div class="mg-container" style={messageStyle}>
    <div class="mg-background" style={messageBackgroundStyle}></div>
    <div class="mg-left">
      <div class="mg-user-avatar">
        <Avatar size={1} username={group.author} />
      </div>
    </div>
    <div class="mg-right">
      <div class="mg-header">
        <div class="mg-user-name" style={headerStyle}>
          <StyledBody nodes={userInfo.parsedDisplay} />
        </div>
      </div>
      {#each group.messages as message (message.msgid)}
        <Message
          on:load={onLoad}
          on:messageedit={onMessageEdit}
          on:messagedelete={onMessageDelete}
          on:actiontrigger={onActionTrigger}
          userInfo={userInfo}
          message={message}
          canEdit={session.myUsername === message.author}
          canDelete={myPermissions.canDelete || session.myUsername === message.author} />
      {/each}
    </div>
  </div>
{/if}
