<script type="ts">
  import service from "../service";
  import servicesFor from "../services";

  import StyledBody from "./StyledBody.svelte";

  import { computeProfileStyles, computeBackgroundStyles} from "../userstyle";

  export let username: string;

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  $: userInfoStore = services.users.getUserInfoStore(username);
  $: userInfo = $userInfoStore;

  $: profileStyle = computeProfileStyles(userInfo);

  $: profileBackgroundUrlStore = services.users.getProfileBackgroundUrlStore(username);
  $: profileBackgroundStyle = computeBackgroundStyles($profileBackgroundUrlStore, userInfo.profileBackground);

  $: style = `${profileStyle}; border: 3px solid ${userInfo.bannerColor || "#333"}; scrollbar-color: ${userInfo.buttonColor || "#333"} #111`;
</script>

<style>
  .profile {
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 3px;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
  }

  .bio {
    position: relative;
    white-space: pre-line;
  }
</style>

<div class="profile" {style}>
  <div class="bio">
    <div class="background" style={profileBackgroundStyle}></div>
    <StyledBody nodes={userInfo.parsedBio || []} />
  </div>
</div>
