<script lang="ts">
  import { useLocation, navigate } from "svelte-navigator";

  import service from "../service";

  let error: string | undefined = undefined;

  let mode: string = "default";

  let username: string = "";
  let password: string = "";
  let passwordConfirm: string = "";

  const location = useLocation();

  let inviteToken = null;
  let inviteInfo = Promise.resolve(null);

  $: {
    const pathname = $location.pathname;
    const m = pathname.match(/\/invite\/([a-zA-Z0-9_-]+)/);
    if (m) {
      inviteToken = m[1];
      inviteInfo = service.getInviteInfo(inviteToken)
        .then((res) => ({ type: "valid", inviter: res.inviter }))
        .catch((_err) => ({type: "invalid"}));
    }
    else {
      inviteToken = null;
      inviteInfo = Promise.resolve(null);
    }
  }

  const configStore = service.getConfigStore();
  $: config = $configStore;

  function onLoginSubmit(evt) {
    evt.preventDefault();
    proceedLogin();
  }

  async function proceedLogin() {
    if (username === "") {
      error = "Username cannot be empty.";
      return;
    }
    if (password === "") {
      error = "Password cannot be empty.";
      return;
    }
    error = undefined;
    try {
      await service.login(username, password);
    }
    catch (_e) {
      error = "Invalid username/password combination.";
      return;
    }
  }

  function onRegisterSubmit(evt) {
    evt.preventDefault();
    proceedRegister();
  }

  async function proceedRegister() {
    if (username === "") {
      error = "Username cannot be empty.";
      return;
    }
    if (password === "") {
      error = "Password cannot be empty.";
      return;
    }
    if (passwordConfirm !== password) {
      error = "Passwords do not match.";
      return;
    }
    error = undefined;
    try {
      const trimmed = inviteToken.trim();
      if (trimmed === "") {
        await service.register(username, password);
      }
      else {
        await service.registerWithToken(username, password, trimmed);
      }
    }
    catch (_e) {
      error = "Username taken.";
      return;
    }
    if (inviteToken) {
      navigate("/"); // TODO: may wanna navigate to the attached room if registered via an invite that has one
    }
  }

  function switchToLogin(_evt) {
    mode = "login";
    username = "";
    password = "";
  }

  function switchToRegister(_evt) {
    mode = "register";
    username = "";
    password = "";
    passwordConfirm = "";
    inviteToken = "";
  }
</script>

<style>
  #onboarding-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .form-header {
    margin: 5px;
    font-size: 130%;
    font-weight: bold;
  }

  .form-error {
    color: #f55;
  }

  .form-row {
    font-size: 90%;
    font-weight: bold;
    margin: 3px;
  }

  .form-submit {
    margin: 5px;
  }
</style>

{#await inviteInfo}
  <div id="onboarding-container">
    Loading…
  </div>
{:then info}
  <div id="onboarding-container">
    {#if info}
      <div class="form-header">
        @{info.inviter} has invited you to join!
      </div>
    {/if}
    {#if mode === "login" || (mode === "default" && !info)}
      <div class="form-header">
        Log in
      </div>
      {#if error}
        <div class="form-error">
          {error}
        </div>
      {/if}
      <form on:submit={onLoginSubmit}>
        <div class="form-row">
          <label for="username-input">Username:</label>
          <input type="text" id="username-input" autocapitalize="off" autocomplete="off" bind:value={username} />
        </div>
        <div class="form-row">
          <label for="password-input">Password:</label>
          <input type="password" id="password-input" bind:value={password} />
        </div>
        <div class="form-submit">
          <button id="submit-button">Log in</button>
        </div>
      </form>
      {#if config && (config.openRegistration || info)}
        <div class="switch">
          <button on:click={switchToRegister}>Don't have an account?</button>
        </div>
      {/if}
    {:else if mode === "register" || (mode === "default" && info)}
      {#if config && !config.openRegistration && !inviteToken}
        <div id="onboarding-container">
          <div class="form-header">
            Registrations are closed on this server.
          </div>
          <div class="form-header">
            You'll need to get an invite from someone in it.
          </div>
        </div>
      {:else if info && info.type === "invalid"}
        <div id="onboarding-container">
          <div class="form-header">
            Invite token not valid.
          </div>
        </div>
      {:else}
        <div class="form-header">
          Register
        </div>
        {#if error}
          <div class="form-error">
            {error}
          </div>
        {/if}
        <form on:submit={onRegisterSubmit}>
          <div class="form-row">
            <label for="username-input">Username:</label>
            <input type="text" id="username-input" autocapitalize="off" autocomplete="off" bind:value={username} />
          </div>
          <div class="form-row">
            <label for="password-input">Password:</label>
            <input type="password" id="password-input" bind:value={password} />
          </div>
          <div class="form-row">
            <label for="password-confirm-input">Password confirmation:</label>
            <input type="password" id="password-confirm-input" bind:value={passwordConfirm} />
          </div>
          <div class="form-submit">
            <button id="submit-button">Register</button>
          </div>
        </form>
        <div class="switch">
          <button on:click={switchToLogin}>Have an account?</button>
        </div>
      {/if}
    {/if}
  </div>
{/await}
