<script lang="ts">
  import { navigate } from "svelte-navigator";

  import servicesFor from "../services";
  import service from "../service";

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  export let roomname: string;

  $: roomInfoStore = services.rooms.getRoomInfoStore(roomname);
  
  $: roomInfo = $roomInfoStore;

  function onClick(_evt) {
    navigate("/room/" + roomname);
  }
</script>

<style>
  .mention {
    display: inline-block;
    padding: 5px;
    background-color: rgba(200, 200, 255, 0.5);
    border-radius: 4px;
  }

  .mention:hover {
    background-color: rgba(200, 200, 255, 0.7);
    cursor: pointer;
  }

  .mention.inexistent-room {
    background-color: rgba(255, 100, 100, 0.5);
  }
</style>

{#if roomInfo.exists}
  <div class="mention" style="color: {roomInfo.color}" on:click={onClick}>#{roomname}</div>
{:else}
  <div class="mention inexistent-room">#{roomname}</div>
{/if}
