<script lang="ts">
  import { navigate } from "svelte-navigator";

  import servicesFor from "../services";
  import service from "../service";

  export let roomname: string;
  export let size: number;

  let isError = false;

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  $: subListenerStore = services.subscriber.listener("room-info:" + roomname);
  $: subListener = $subListenerStore;

  $: avatarUrlStore = services.rooms.getAvatarUrlStore(roomname);

  $: avatarUrl = $avatarUrlStore;

  $: isBig = size == 2;
  $: isTiny = size == 0;

  function onClick(_evt) {
    navigate("/room/" + roomname);
  }

  function onError(_evt) {
    isError = true;
  }

  function onLoad(_evt) {
    isError = false;
  }
</script>

<style>
  img {
    object-fit: cover;
    flex: 1;
    cursor: pointer;
    width: 3em;
    height: 3em;
  }

  .tiny {
    width: 32px;
    height: 32px;
  }

  .big {
    width: 128px;
    height: 128px;
  }

  .error {
    opacity: 0;
  }
</style>

<img
     class:big={isBig}
     class:tiny={isTiny}
     class:error={isError}
     alt="Avatar of { roomname }"
     title="#{roomname}"
     src="{ avatarUrl }"
     on:error={onError}
     on:load={onLoad}
     on:click={onClick} />
