<script lang="ts">
  import { navigate } from "svelte-navigator";

  import RoomAvatar from "./RoomAvatar.svelte";

  export let starredRoom: { roomname: string, notifyMode: string };
  export let services: any;

  $: roomNotificationsStore = services.notify.getRoomNotificationsStore(starredRoom.roomname);
  $: roomNotifications = $roomNotificationsStore;

  $: roomInfoStore = services.rooms.getRoomInfoStore(starredRoom.roomname);
  $: roomInfo = $roomInfoStore;

  $: hasNotifs = roomNotifications > 0;

  let styles = "";

  $: {
    styles = "";
    if (roomInfo.backgroundColor) {
      styles += `background-color: ${roomInfo.backgroundColor};`;
    }
    if (roomInfo.nameColor) {
      styles += `color: ${roomInfo.nameColor};`;
    }
  }
</script>

<style>
  .entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 0.8em;
    background: #282828;
    cursor: pointer;
  }

  .entry:hover {
    background: #343434;
  }

  .entry:first-child {
    border-top: 1px solid #111;
  }

  .entry:not(:last-child) {
    border-bottom: 1px solid #111;
  }

  .avatar {
    display: flex;
    overflow: hidden;
    border-radius: 0.4em;
  }

  .display {
    flex: 1;
    padding: 0.3em;
    padding-left: 0.4em;
    overflow: hidden;
  }

  .indicators {
    padding: 0.3em;
  }

  .alert {
    opacity: 0;
    color: #e33;
    padding: 0.3em;
    padding-left: 0.6em;
  }

  .alert.alerted {
    opacity: 1;
  }
</style>

<div class="entry" style={styles} on:click={(_evt) => navigate("/room/" + starredRoom.roomname)}>
  <div class="avatar">
    <RoomAvatar roomname={starredRoom.roomname} size={0} />
  </div>
  <div class="alert" class:alerted={hasNotifs}>
    <div class="fas fa-circle"></div>
  </div>
  <div class="display">
    #{starredRoom.roomname}
  </div>
  <div class="indicators">
    {#if starredRoom.notifyMode === "all"}
      <div class="fas fa-bell"></div>
    {:else if starredRoom.notifyMode === "mention"}
      <div class="far fa-bell"></div>
    {:else if starredRoom.notifyMode === "none"}
      <div class="fas fa-bell-slash"></div>
    {/if}
  </div>
</div>
