<script lang="ts">
  import { navigate, useFocus } from "svelte-navigator";

  import { tick } from "svelte";

  import { Timeout } from "../util/timeout";

  import servicesFor from "../services";
  import service from "../service";

  import HeaderBar from "./HeaderBar.svelte";
  import UserSearchRow from "./UserSearchRow.svelte";

  let filterText = "";
  let searchResults = [];

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  async function doSearch() {
    searchResults = await services.users.search(filterText);
  }

  const debounceTimeout = new Timeout(() => { doSearch(); });

  const registerFocus = useFocus();

  function onFilterTextChange(evt) {
    filterText = evt.target.value;
    debounceTimeout.schedule(500);
  }

  function onUserGoToProfileClick(_evt, username) {
    navigate("/user/" + username);
  }

  tick().then(() => {
    doSearch();
  });
</script>

<style>
  #user-search {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
  }

  #user-search-list {
    overflow: hidden;
    flex: 1;
  }

  #user-search-filter {
    flex: 1;
    margin: 2px 10px;
  }
</style>

<HeaderBar>
  <div>@</div>
  <input id="user-search-filter" use:registerFocus type="text" value={filterText} on:input={onFilterTextChange} />
</HeaderBar>
<div id="user-search">
  <div id="user-search-results">
    {#each searchResults as result (result.username)}
      <UserSearchRow username={result.username} />
    {/each}
  </div>
</div>
