<script lang="ts">
  import { navigate, useFocus } from "svelte-navigator";

  import { tick } from "svelte";

  import { Timeout } from "../util/timeout";

  import servicesFor from "../services";
  import service from "../service";

  import HeaderBar from "./HeaderBar.svelte";
  import RoomSearchRow from "./RoomSearchRow.svelte";

  let filterText = "";
  let searchResults = [];

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  async function doSearch() {
    searchResults = await services.rooms.search(filterText);
  }

  const debounceTimeout = new Timeout(() => { doSearch(); });

  const registerFocus = useFocus();

  function onFilterTextChange(evt) {
    filterText = evt.target.value;
    debounceTimeout.schedule(500);
  }

  function onClickNew(_evt) {
    navigate("/create/room");
  }

  function onRoomJoinClicked(_evt, roomname) {
    navigate("/room/" + roomname);
  }

  tick().then(() => {
    doSearch();
  });
</script>

<style>
  #room-search {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
  }

  #room-search-list {
    overflow: hidden;
    flex: 1;
  }

  #room-search-top {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px;
  }

  #room-search-filter {
    flex: 1;
    margin: 2px 10px;
  }
</style>

<HeaderBar>
  <div>#</div>
  <input id="room-search-filter" use:registerFocus type="text" value={filterText} on:input={onFilterTextChange} />
  <div slot="buttons">
    <button on:click={onClickNew}>
      <div class="far fa-plus-square"></div>
    </button>
  </div>
</HeaderBar>
<div id="room-search">
  <div id="room-search-results">
    {#each searchResults as result (result.roomname)}
      <RoomSearchRow roomname={result.roomname} membersOnly={result.membersOnly} />
    {/each}
  </div>
</div>
