<script lang="ts">
  import { createEventDispatcher } from "svelte";

  import Mention from "./Mention.svelte";
  import RoomMention from "./RoomMention.svelte";
  import Emoji from "./Emoji.svelte";

  import type { Node, Style } from "../body";

  const dispatch = createEventDispatcher();

  export let nodes: Node[];

  let emojiBig = false;

  function doAction(action) {
    dispatch("action", { action });
  }

  function uploadUrl(slug) {
  return "/data/upload/" + slug;
  }

  $: {
    emojiBig = true;
    let firstEmoji = true;
    for (const node of nodes) {
      if (node.type === "text" && node.text.trim() === "") {
        // ok
      }
      else if (node.type === "emoji") {
        if (firstEmoji) {
          firstEmoji = false;
        }
        else {
          emojiBig = false;
          break;
        }
      }
      else {
        emojiBig = false;
        break;
      }
    }
  }

  const PX_LAYOUT_RE = /([0-9]+)px/;
  const FL_LAYOUT_RE = /([0-9]+)fl/;

  function layoutStyle(orientation: string, layout: string): string {
    let m;
    if (m = layout.match(PX_LAYOUT_RE)) {
      if (orientation === "vertical") {
        return `height: ${m[1]}px`;
      }
      else if (orientation === "horizontal") {
        return `width: ${m[1]}px`;
      }
      else {
        throw new Error("impossible");
      }
    }
    else if (m = layout.match(FL_LAYOUT_RE)) {
      return `flex: ${m[1]}`;
    }
    else {
      return "";
    };
  }

  function computeNodeStyle(style: Style): string {
    let out = "";
    if (style.bold !== null) {
      if (style.bold) {
        out += "font-weight: bold;";
      }
      else {
        out += "font-weight: normal;";
      }
    }
    if (style.italic !== null) {
      if (style.italic) {
        out += "font-style: italic;";
      }
      else {
        out += "font-style: normal;";
      }
    }
    let textDeco = "";
    if (style.strikeout !== null) {
      if (style.strikeout) {
        textDeco += " line-through";
      }
    }
    if (style.underline !== null) {
      if (style.underline) {
        textDeco += " underline";
      }
    }
    if (textDeco !== "") {
      out += `text-decoration: ${textDeco};`;
    }
    if (style.color !== null) {
      out += `color: ${style.color};`;
    }
    if (style.font !== null) {
      out += `font-family: ${style.font};`;
    }
    if (style.size !== null) {
      out += `font-size: ${style.size}px;`;
    }
    if (style.outlineColor !== null) {
      out += `text-shadow: ${style.outlineColor} 1px 0 0.3em;`;
    }
    return out;
  }

  function onLoad(evt) {
    dispatch("load");
  }
</script>

<style>
  img {
    max-width: 300px;
    max-height: 300px;
  }

  .spoiler {
    padding: 0.2em;
    background-color: #040404;
  }

  .spoiler:hover {
    background-color: transparent;
  }

  :global(.spoiler > *) {
    visibility: hidden;
  }

  :global(.spoiler:hover > *) {
    visibility: visible;
  }

  .box {
    display: flex;
    align-items: stretch;
  }

  .vbox {
    flex-direction: column;
  }

  .hbox {
    flex-direction: row;
  }

  .image-upload {
    display: inline-block;
    cursor: pointer;
  }

  .image-upload > img {
    display: block;
  }

  .image-upload:hover {
    transform: scale(1.05);
  }

  .youtube-preview {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #111;
  }

  .youtube-preview > img {
    display: block;
  }

  .youtube-preview:hover {
    transform: scale(1.05);
  }
</style>

{#each nodes as node}
  {#if node.type === "text"}
    <span style="{computeNodeStyle(node.style)}">{ node.text }</span>
  {:else if node.type === "n"}
    <svelte:self nodes={node.children} />
  {:else if node.type === "mention"}
    <Mention username={node.username} />
  {:else if node.type === "room"}
    <RoomMention roomname={node.roomname} />
  {:else if node.type === "emoji"}
    <Emoji big={emojiBig} shortcode={node.shortcode} slug={node.slug} />
  {:else if node.type === "image"}
    <a class="image-upload" href={uploadUrl(node.slug)} target="_blank">
      <img
        alt="uploaded"
        title="uploaded"
        on:load={onLoad}
        src={uploadUrl(node.slug)} />
    </a>
  {:else if node.type === "link"}
    <a href={node.href} target="_blank">{node.href}</a>
  {:else if node.type === "button"}
    <button title={node.action} on:click={(_evt) => doAction(node.action)}>
      <svelte:self nodes={node.children} on:action={(evt) => doAction(evt.detail.action)} />
    </button>
  {:else if node.type === "spoiler"}
    <span class="spoiler">
      <svelte:self nodes={node.children} on:action={(evt) => doAction(evt.detail.action)} />
    </span>
  {:else if node.type === "box"}
    <div class="box" class:hbox={node.orientation === "horizontal"} class:vbox={node.orientation === "vertical"}>
      {#each node.children as child}
        <div class="box" style={layoutStyle(node.orientation, child.layout)}>
          <svelte:self nodes={child.nodes} on:action={(evt) => doAction(evt.detail.action)} />
        </div>
      {/each}
    </div>
  {:else if node.type === "padding"}
    <div class="box" style={`padding: ${node.size}px`}>
      <svelte:self nodes={node.children} on:action={(evt) => doAction(evt.detail.action)} />
    </div>
  {:else if node.type === "border"}
    <div class="box" style={`border: ${node.width}px solid ${node.color}`}>
      <svelte:self nodes={node.children} on:action={(evt) => doAction(evt.detail.action)} />
    </div>
  {:else if node.type === "align"}
    <div style={`text-align: ${node.align}`}>
      <svelte:self nodes={node.children} on:action={(evt) => doAction(evt.detail.action)} />
    </div>
  {:else if node.type === "youtube"}
    <a class="youtube-preview" href={"https://youtube.com/watch?v=" + node.videoId} target="_blank">
      <img
        alt="link to YouTube video"
        on:load={onLoad}
        src={"https://img.youtube.com/vi/" + node.videoId + "/2.jpg"} />
    </a>
  {/if}
{/each}
