<script lang="ts">
  import { computeMessageStyles, computeBackgroundStyles, computeHeaderStyles } from "../userstyle";
  import { navigate } from "svelte-navigator";

  import StyledBody from "./StyledBody.svelte";
  import Avatar from "./Avatar.svelte";
  import MiniProfile from "./MiniProfile.svelte";

  import servicesFor from "../services";
  import service from "../service";

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  export let username: string;

  let mode = "view";

  let modeOpts = null;

  $: myFriendsStore = services.users.getMyFriendsStore();
  $: myFriends = $myFriendsStore;

  let isMyFriend = false;

  $: {
    isMyFriend = false;
    for (const friend of myFriends) {
      if (friend.username === username) {
        isMyFriend = true;
      }
    }
  }

  $: userInfoStore = services.users.getUserInfoStore(username);

  $: userInfo = $userInfoStore;

  $: messageBackgroundUrlStore = services.users.getMessageBackgroundUrlStore(username);

  $: avatarStyle = `border: 2px solid ${userInfo.nameColor || "#111"}`;
  $: headerStyles = computeHeaderStyles(userInfo);
  $: globalStyles = computeMessageStyles(userInfo);
  $: backgroundStyle = computeBackgroundStyles($messageBackgroundUrlStore, userInfo.messageBackground);

  function onModifyClick(evt) {
    mode = "edit";
    modeOpts = {
      userInfo: userInfo,
    };
  }

  function onAddExtraFieldClick(_evt) {
    modeOpts.userInfo.extraFields.push({
      field: "",
      value: "",
    });
    modeOpts = modeOpts; // let svelte know it changed
  }

  function onRemoveExtraFieldClick(_evt, idx) {
    console.log(idx);
    modeOpts.userInfo.extraFields.splice(idx, 1);
    modeOpts = modeOpts; // let svelte know it changed
  }

  async function onDoneClick(evt) {
    const m = modeOpts.userInfo;
    const userInfoData = {
      display: m.display,
      age: m.age,
      gender: m.gender,
      location: m.location,
      bio: m.bio,
      extraFields: m.extraFields,
      nameColor: m.nameColor,
      textColor: m.textColor,
      bannerColor: m.bannerColor,
      buttonColor: m.buttonColor,
      messageBackground: { ...m.messageBackground },
      profileBackground: { ...m.profileBackground },
    };
    await services.users.setUserInfo(username, userInfoData);
    modeOpts = null;
    mode = "view";
  }

  async function onAvatarFileChange(evt) {
    const file = evt.target.files[0];
    services.users.uploadAvatar(username, file);
  }

  async function onFriendAddClick(_evt) {
    await services.users.addFriend(username);
  }

  async function onFriendRemoveClick(_evt) {
    await services.users.removeFriend(username);
  }
</script>

<style>
  #user-info-view {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
  }

  #user-info-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
  }

  #user-info-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    padding: 5px;
    padding-top: 20px;
    white-space: pre;
  }

  .avatar-container {
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 12px;
    margin: 15px;
  }

  .display-name-container {
    font-weight: bold;
    font-size: 150%;
  }

  #user-info-fields {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 3px;
  }

  .header-field {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
  }

  .header-key {
    margin: 2px;
    font-weight: bold;
    width: 100px;
  }

  .header-value {
    margin: 2px;
    flex: 1;
  }

  .buttonbar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 10px;
  }

  .buttonbar.left {
    left: 10px;
  }

  .buttonbar.right {
    right: 10px;
  }

  .upload {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 128px;
    height: 128px;
    cursor: pointer;
    opacity: 0;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 0;
  }

  .user-info-header-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    z-index: 1;
  }
</style>

<div class="buttonbar left">
  <button on:click={(_evt) => { navigate(-1); }}>
    <div class="fas fa-arrow-left"></div>
  </button>
</div>

<div class="buttonbar right">
  {#if session.myUsername === username}
    {#if mode === "view"}
      <button on:click={onModifyClick}>
        <div class="fas fa-pencil-alt"></div>
      </button>
    {:else if mode === "edit"}
      <button on:click={onDoneClick}>
        <div class="fas fa-check"></div>
      </button>
    {/if}
  {:else}
    {#if isMyFriend}
      <button on:click={onFriendRemoveClick}>
        <div class="fas fa-users-slash"></div>
      </button>
    {:else}
      <button on:click={onFriendAddClick}>
        <div class="fas fa-users"></div>
      </button>
    {/if}
    <button on:click={(_evt) => { navigate("/chat/" + username); }}>
      <div class="fas fa-comments"></div>
    </button>
  {/if}
</div>

<div id="user-info-view">
  <div id="user-info-header" style={headerStyles + ";" + globalStyles}>
    <div class="background" style={backgroundStyle}></div>
    <div class="user-info-header-inner">
      <div class="avatar-container" style={avatarStyle}>
        {#if session.myUsername === username}
          <input class="upload" type="file" accept=".png, .jpg, .jpeg" on:change={onAvatarFileChange} />
        {/if}
        <Avatar username={username} size={2} />
      </div>
      {#if mode === "view"}
        <div class="display-name-container">
          <StyledBody nodes={userInfo.parsedDisplay} />
        </div>
      {:else if mode === "edit"}
        <div class="display-name-container">
          <input type="text" bind:value={modeOpts.userInfo.display} />
        </div>
      {/if}
      <div id="user-info-fields">
        {#if userInfo.age || mode === "edit"}
          <div class="header-field">
            <div class="header-key">
              Age:
            </div>
            <div class="header-value">
              {#if mode === "view"}
                {userInfo.age}
              {:else if mode === "edit"}
                <input type="string" bind:value={modeOpts.userInfo.age} />
              {/if}
            </div>
          </div>
        {/if}
        {#if userInfo.gender || mode === "edit"}
          <div class="header-field">
            <div class="header-key">
              Gender:
            </div>
            <div class="header-value">
              {#if mode === "view"}
                {userInfo.gender}
              {:else if mode === "edit"}
                <input type="text" bind:value={modeOpts.userInfo.gender} />
              {/if}
            </div>
          </div>
        {/if}
        {#if userInfo.location || mode === "edit"}
          <div class="header-field location">
            <div class="header-key">
              Location:
            </div>
            <div class="header-value">
              {#if mode === "view"}
                {userInfo.location}
              {:else if mode === "edit"}
                <input type="text" bind:value={modeOpts.userInfo.location} />
              {/if}
            </div>
          </div>
        {/if}
        {#each userInfo.extraFields as field, i}
          <div class="header-field">
            <div class="header-key">
              {#if mode === "view"}
                {field.field}
              {:else if mode === "edit"}
                <input type="text" bind:value={modeOpts.userInfo.extraFields[i].field} />
              {/if}
            </div>
            <div class="header-value">
              {#if mode === "view"}
                {field.value}
              {:else if mode === "edit"}
                <input type="text" bind:value={modeOpts.userInfo.extraFields[i].value} />
              {/if}
            </div>
            {#if mode === "edit"}
              <button on:click={(evt) => onRemoveExtraFieldClick(evt, i)}>
                <div class="fas fa-times"></div>
              </button>
            {/if}
          </div>
        {/each}
        {#if mode === "edit"}
          <button on:click={onAddExtraFieldClick}>
            <div class="fas fa-plus"></div>
          </button>
        {/if}
      </div>
    </div>
  </div>
  <div id="user-info-body">
    {#if mode === "view"}
      <MiniProfile username={username} />
    {:else if mode === "edit"}
      <textarea bind:value={modeOpts.userInfo.bio}></textarea>
    {/if}
  </div>
</div>
